@import url(./supp.css);

:root {
  --mc: #202020;
  --sc: #ffffff;
  --hc: #333333;

  --ff: "Poppins", sans-serif;

  --fs-xsm: 14px;
  --fs-sm: 16px;
  --fs-m: 20px;
  --fs-l: 24px;
  --fs-xl: 32px;

  --gs-sm: 8px;
  --gs-m: 10px;
  --gs-l: 14px;
  --gs-xl: 22px;

  --br-sm: 4px;
  --br-m: 8px;
  --br-l: 16px;
  --br-max: 50%;

  --p-sm: 8px;
  --p-m: 16px;
  --p-l: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff);
  font-size: var(--fs-sm);
  font-weight: 400;
  text-decoration: none;
  list-style: none;
  color: black;
}

body {
  max-width: 100%;
  width: 100vw;
  max-height: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr;
}

/* navbar start */

#app-navbar {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  width: 100%;
  padding: var(--p-m);
  background-color: var(--mc);
}

#navbar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gs-xl);
}

#app-logo {
  display: flex;
  justify-content: center;
}

#app-logo img {
  width: 70%;
  margin-top: 12px;
}

#search-bar {
  width: 100%;
  height: 32px;
  position: relative;
}

#search-bar i {
  position: absolute;
  z-index: 1;
  right: 10px;
  bottom: 4px;
  color: var(--sc);
}

#search-bar input {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--mc);
  border: solid 1px var(--sc);
  border-radius: var(--br-sm);
  padding: 4px 8px;
  color: var(--sc);
  font-size: var(--fs-sm);
}

#navbar-list {
  display: flex;
  flex-direction: column;
  gap: var(--gs-m);
}

span {
  display: none;
}

.list-item {
  padding: var(--p-sm);
  cursor: pointer;
}

.list-item:hover:not(.active) {
  background-color: var(--hc);
  border-radius: var(--br-m);
}

.list-item a {
  color: var(--sc);
  font-size: var(--fs-m);
  font-weight: 400;
}

.list-item a i {
  color: var(--sc);
  font-size: var(--fs-m);
  margin-right: 4px;
}

.active {
  background-color: var(--sc);
  border-radius: var(--br-m);
  padding: var(--p-sm);
}

.active a {
  color: var(--mc);
  font-weight: 700;
}

.active a i {
  color: var(--mc);
}

#profile {
  display: flex;
  gap: var(--gs-sm);
}

#profile img {
  width: 44px;
  height: 44px;
  border-radius: var(--br-max);
  border: solid 2px var(--sc);
}

#profile div h3 {
  font-size: var(--fs-sm);
  font-weight: 600;
  margin-bottom: -4px;
  color: var(--sc);
}

#profile div a {
  font-weight: 300;
  font-size: var(--fs-xsm);
  color: var(--sc);
}

#navbar-footer {
  align-self: end;
}

/* navbar end */

/* main start */

#app-main {
  background-image: url(../../assets/main-bg-1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: var(--p-l);
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1,
h1 i {
  font-size: var(--fs-xl);
  font-weight: 600;
  color: var(--sc);
}

#bg-changer {
  width: 30px;
  border-radius: var(--br-sm);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bg-changer:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

#bg-changer i {
  color: var(--sc);
  font-size: var(--fs-m);
}

#main-footer input{
  
}